Jinja2
MarkupSafe
SQLAlchemy
# Beautifulsoup4 is necessary to prevent truncation of inserted javascript
beautifulsoup4
gnureadline
html2text
httplib2
ipython
markdown2
mercurial
oauth2
ghp-import
pelican
Markdown
